html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* wwwroot/css/site.css */
body.lavender-background {
  background-color: rgb(250, 225, 255);
  min-height: 100vh; /* Ensures the background color covers the full viewport height */
  margin: 0;
  width: 100%;
  padding: 20px; /* Adds some padding for spacing */
}

.purple-background {
  background-color: rgb(127, 33, 146);

}
